* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "open sans", sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1440px;
    margin: 0 auto;

    height: 800px;
    background-color: hsl(212, 45%, 89%);
    padding: 8px 0;
}

#logo {
    width: 210px;
    border-radius: 5px;
    margin: 0 auto;
}

.body {
    width: 245px;
    margin: 150px auto;
    border: 3px solid hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 0.8rem;
    background-color: hsl(0, 0%, 100%);
}

.body h1 {
    margin-top: 0.5rem;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.body p {
    font-size: 14px;
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 200;
}

.body p::first-letter {
    text-transform: uppercase;
}

@media screen and (max-width: 375px) {
    .container {
        width: 375px;
        height: 100Vh;
        margin: auto;
        background-color: hsl(212, 45%, 89%);
    }
    #logo {
        width: 170px;
    }
    .body {
        width: 200px;
    }

    .body h1 {
        font-size: 13px;
    }

    .body p {
        font-size: 13px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        width: 300px;
        height: 100Vh;
        margin: auto;
        background-color: hsl(212, 45%, 89%);
    }
}
